@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    font-family: "Nunito Sans Variable", sans-serif;
    background-color: oklch(96.8% 0.007 247.896);
    color: #18181b;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }
  .dark body {
    background-color: oklch(20.5% 0 0);
    color: #f4f4f5;
  }
  [data-astro-transition-scope] {
    isolation: isolate;
  }
}
