---
import Title from "../components/Title.astro";
import BaseLayout from "../components/BaseLayout.astro";
const { Content } = await import("../data/index/index.mdx");
---

<BaseLayout>
  <Title>Henry's Portfolio</Title>
  <div class="prose lg:prose-lg dark:prose-invert">
    <Content />
  </div>
</BaseLayout>
