---
import Title from "../components/Title.astro";
import BaseLayout from "../components/BaseLayout.astro";
const posts = await Astro.glob("../data/index/index.mdx");
const { Content } = posts[0];
---

<BaseLayout>
  <Title>Henry's Portfolio</Title>
  <div class="prose lg:prose-lg">
    <Content />
  </div>
</BaseLayout>
