---
import BaseLayout from "../components/BaseLayout.astro";
---

<BaseLayout>
  <h1 class="text-6xl font-bold">Henry's Portfolio</h1>
  <p class="mt-4 text-lg text-zinc-600">See my work and progression!</p>
</BaseLayout>
