---
import Title from "../components/Title.astro";
import BaseLayout from "../components/BaseLayout.astro";
---

<BaseLayout>
  <Title>Henry's Portfolio</Title>
  <p class="mt-4 text-lg text-zinc-600">See my work and progression!</p>
</BaseLayout>
