---
import { fade, slide } from "astro:transitions";
import "../styles/globals.css";
import CommonHead from "./CommonHead.astro";
import Navbar from "./Navbar.astro";
import "@fontsource-variable/nunito-sans";

const { title } = Astro.props;
---

<html lang="en" transition:name="root" transition:animate="none">
  <head>
    <CommonHead title={title} />
  </head>
  <body class="min-h-screen">
    <Navbar />
    <main
      transition:animate={fade({ duration: 200 })}
      class="flex flex-col items-center justify-center pb-[50vh]"
    >
      <slot />
    </main>
  </body>
</html>
