---
import { fade, slide } from "astro:transitions";
import "../styles/globals.css";
import CommonHead from "./CommonHead.astro";
import Navbar from "./Navbar.astro";
import "@fontsource-variable/nunito-sans";
import Footer from "./Footer.astro";
const { title } = Astro.props;
---

<html lang="en" transition:name="root" transition:animate="none">
  <head>
    <CommonHead title={title} />
  </head>
  <body class="flex flex-col min-h-screen">
    <Navbar />
    <main
      transition:animate={fade({ duration: 200 })}
      class="flex-grow flex flex-col items-center"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
