<footer class="flex justify-center w-full p-8 border-t border-t-zinc-200">
  <a
    href="https://github.com/A9-dev"
    target="_blank"
    rel="noopener noreferrer"
    class="px-2 hover:underline"
  >
    GitHub
  </a>
</footer>
