<footer class="flex justify-center w-full p-8 border border-t-zinc-200">
  <div
    class="flex flex-row justify-center w-1/4 px-4 py-2 bg-zinc-900/10 rounded-full"
  >
    <a
      href="https://github.com/your-github-username"
      target="_blank"
      rel="noopener noreferrer"
      class="px-2 text-blue-500 hover:underline"
    >
      GitHub
    </a>
  </div>
</footer>
