---
---
<nav class="flex justify-center w-full mt-8">
    <div class="flex flex-row justify-around w-1/4 px-4 py-2 bg-zinc-900/10 rounded-full">
        <a href="/">home</a>
        <a href="/blog">blog</a>
    </div>
</nav>