<nav
  class="flex justify-center w-full p-8 bg-linear-to-b from-slate-200 via-slate-100 to-slate-0 from-0% via-85% to-100%"
>
  <a href="/" class="relative px-2 group">
    <span class="transition-colors duration-300 group-hover:text-blue-500"
      >Home</span
    >
  </a>
  <a href="/progression-log" class="relative px-2 group">
    <span class="transition-colors duration-300 group-hover:text-blue-500"
      >Progression Log</span
    >
  </a>
</nav>
