<nav class="flex justify-center w-full p-8">
  <div
    class="flex flex-row justify-around w-1/4 px-4 py-2 bg-zinc-900/10 rounded-full"
  >
    <a href="/" class="relative px-2 group">
      <span class="transition-colors duration-300">home</span>
      <span
        class="absolute left-0 top-0 px-2 text-blue-500 transition-all duration-300 max-h-0 group-hover:max-h-full overflow-hidden"
        >home</span
      >
    </a>
    <a href="/blog" class="relative px-2 group">
      <span class="transition-colors duration-300">blog</span>
      <span
        class="absolute left-0 top-0 px-2 text-blue-500 transition-all duration-300 max-h-0 group-hover:max-h-full overflow-hidden"
        >blog</span
      >
    </a>
  </div>
</nav>
