---
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"progressionLog">;
}

const { post } = Astro.props;
---

<div>
  <ul class="list-disc pl-5 gap-2 flex flex-col">
    {
      post.data.worklog?.map((log) => (
        <li>
          <>
            <span class="font-bold">{log.type}</span>
            {log.area && log.area.length > 0 && (
              <span class="font-normal text-gray-500 leading-0">
                ({log.area.join(", ")}):
              </span>
            )}
            <span class="text-pretty">{log.summary}</span>
          </>
        </li>
      ))
    }
  </ul>
</div>
