---
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
---
<ul class="list-disc pl-5">
  {post.data.worklog?.map((log) => (
    <li class="mb-2">
      <>
        <span class="font-bold">{log.type}</span>
        {log.area && log.area.length > 0 && (
          <span class="font-normal text-gray-500">
            ({log.area.join(", ")}):
          </span>
        )}
        <span class="text-pretty">{log.summary}</span>
      </>
    </li>
  ))}
</ul>