---
import Title from "../../components/Title.astro";
import WorklogPost from "../../components/WorklogPost.astro";
import BaseLayout from "../../components/BaseLayout.astro";
import { getCollection, type CollectionEntry } from "astro:content";

const posts: CollectionEntry<"progressionLog">[] = (
  await getCollection("progressionLog")
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

type PostsByDate = Record<string, CollectionEntry<"progressionLog">[]>;

const postsByDate = posts.reduce((acc, post) => {
  const date = post.data.pubDate.toISOString().split("T")[0];
  if (!acc[date]) {
    acc[date] = [];
  }
  acc[date].push(post);
  return acc;
}, {} as PostsByDate);
---

<BaseLayout title="Progression Log">
  <Title>Progression Log</Title>
  <div class="max-w-3xl mx-auto px-4">
    <div class="flex flex-col gap-12">
      {
        Object.entries(postsByDate).map(([date, posts]) => (
          <div class="flex flex-col md:flex-row md:gap-6">
            <div class="flex-shrink-0 md:w-32">
              <h2 class="text-xl font-bold mb-2 md:mb-0">
                {new Date(date).toLocaleDateString()}
              </h2>
            </div>

            <div class="flex w-full flex-col gap-2">
              {posts.map((post) => (
                <a
                  href={`/progression-log/${post.id}`}
                  class="block rounded-lg hover:bg-slate-400/50 transition-colors px-4 py-2"
                >
                  <WorklogPost post={post} />
                </a>
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </div>
</BaseLayout>
